/* theme */

:root {
    --font-family: 'Open Sans', sans-serif;
    --primary: #695a70;
    --dark: #2c3e50;
    --background-light: #ecf0f1;
    --text-color: #444;
    --text-color-light: #fff;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --border: 1px solid #eee;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: var(--font-family);
    background-color: var(--background-light);
}

.container {
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    color: var(--text-color);
}

h1,
p {
    margin: 0;
}


/* header */

header {
    background-color: var(--primary);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-color-light);
}


/* content */

.content {
    flex: 1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


/* footer */

footer {
    background: var(--dark);
    flex-flow: row-reverse;
    color: var(--text-color-light);
    padding: 1.5rem;
    text-align: center;
}

.todo-container {
    padding: 1.5rem;
    background-color: white;
    border: var(--border);
    border-radius: 3px;
    min-width: 60rem;
    min-height: 40rem;
    box-shadow: var(--box-shadow);
}

.todo-container h1 {
    text-align: center;
}


/* btn */

.btn {
    background-color: white;
    font-weight: 700;
    color: var(--text-color);
    font-size: 1.6rem;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    box-shadow: var(--box-shadow);
}

.btn-primary {
    background-color: var(--primary);
    color: var(--text-color-light);
}

.todo-form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.todo-form input {
    flex: 1;
    margin-right: 1rem;
    border: var(--border);
    border-radius: 3px;
    padding: 10px 15px;
}